doctype html
html
    head
        meta(charset='utf-8')
        title
            block title
                | - #{LANTERN_TITLE}
    body
        div.container-wrapper
            mainmenu
            div.container
                submenu
                filtermenu
                block content
        block script
            script(src='/layout/bundle.js')