/**
 * container padding
 */
$containerPadding: 28px !global;
div#container {
    margin: 0;
    padding: 0px $containerPadding 0px $containerPadding;
}

/**
 * logo
 */
.logo {
    $color: rgb(91, 155, 209);
    font-size: 24pt;
    color: $color;
    letter-spacing: -1.5px;
}

/**
 * body background color
 */
$bodyBgColor: #e9ecf3;
#body {
    background-color: $bodyBgColor;
}