/**
 * import
 */
@import './normalize.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/**
 * global variables
 */
$gutter: 28px; // container and inner content padding gaps
$bodyBgColor: #e9ecf3; // background color for body

/**
 * box sizing
 */
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/**
 * buttons
 */
button {
    border: 1px solid transparent;
    border-color: #ccc;
    padding: 6px 12px 6px 12px;
    color: #333;
    background-color: #fff;

    &:hover {
        transition: all .3s;
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
        cursor: pointer;
    }
}


/**
 * body background color
 */
#body {
    background-color: $bodyBgColor;
}

/**
 * container
 */
#container {
    margin: $gutter 0 0 0;
    padding: 15px 0 0 (235 + $gutter);
    width: 100%;

    /**
     * page layout(title, desc etc)
     */
    .title {
        font-size: 18pt;
        color: #697882;

        .desc {
            margin: 0 0 0 10px;
            font-size: 10pt;
            color: #9eacb4;
        }
    }
}