extends ../layout/layout.pug

prepend title
	|대시보드 

block content
	//- div#cpu-chart(style='width: 500px; height: 400px;')
	div(style='width: 1000px; height: 500px' id='flame-graph')

append script
	script(src='http://code.highcharts.com/highcharts.js')
	//- script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.js')
	//- script(src='https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.js')
	link(rel='stylesheet' type='text/css' href='/assets/d3.flameGraph.css')
	script(src='/assets/d3.flameGraph.js')
	//- script(src='/assets/d3-flame-graph.min.js')
	script(src='./bundle.js')