# mac directory
.DS_Store

# npm
node_modules/

# exclude view/assets
view/assets

# sublimetext sftp plugin
sftp-config.json

# npm debug
npm-debug.log

# atom remote ftp config file
.ftpconfig
