extends ../layout/layout.pug

block title
	span Activity Summary

block desc
	| shows selected activity's usage and profile informations

block page-toolbar
	
block content
	portlet(title='Activity name')
		p.
			nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
	div.row
		div.col-md-6
			portlet(title='One-depth User Flow')
				one-depth-user-flow
		div.col-md-6
			portlet(title='UI Rendering Elapsed Time')
				dist-graph(ref='ui')
	div.row
		div.col-md-6
			portlet(title='CPU Usage')
				dist-graph
		div.col-md-6
			portlet(title='Memory Usage')
				dist-graph
	div.row
		div.col-md-6
			portlet(title='Network Outband Call')
		div.col-md-6
			portlet(title='Crash List')
block style
	style.
		body {
			/*background-color: #1b1c2e !important;*/
		}
		
prepend script