extends layout-sidebar.pug

block sidebar
	filter-status-bar

block content
	div.row
		div.col-xs-12
			h4.title
				span Activity Detail #{resourceType} of #{packageName}'s #{activityName}
	div.row
		div.col-lg-5.col-sm-12
			portlet(simple='true')
				dist-graph(type=resourceType selectable='true')
				br
				super-table(type='userList' stop-watch-package-name stop-watch-is-init-done)
		div.col-lg-7.col-sm-12
			portlet(simple='ture')
				div.tabbable-line
					ul.nav.nav-tabs
						li.active
							a(href='#tabCallStack' data-toggle='tab') Reverse Stack
						li
							a(href='#tabOs' data-toggle='tab') OS
					div.tab-content
						div.tab-pane.active#tabCallStack
							stack-trace-tree(stop-watch-is-init-done)
						div.tab-pane#tabOs
							div.row
								div.col-xs-12
									if resourceType == 'cpu'
										super-table(type='detailOs' stop-watch-package-name stop-watch-is-init-done)
										super-table(type='detailCpuApp' stop-watch-package-name stop-watch-is-init-done)
									else if resourceType == 'memory'
										super-table(type='detailVmStat' stop-watch-package-name stop-watch-is-init-done)
										super-table(type='detailMemoryApp' stop-watch-package-name stop-watch-is-init-done)
		
block style
	style.
		/*.tab-content > .tab-pane {
			display: block;
			position: absolute;
			visibility: hidden;
		}
		.tab-content > .tab-pane.active {
			display: block;
			position: absolute;
			visibility: visible;
		}*/
prepend script
	script.
		