extends layout-sidebar.pug

block sidebar
	filter-status-bar

block content
	div.row
		div.col-xs-12
			h4.title
				span Activity Detail #{resourceType} of #{packageName}'s #{activityName}
	div.row
		div.col-lg-5.col-sm-12
			portlet(simple='true')
				span(style='float: right;')
					help-badge(msg='The same distribution graph you saw just before<br/>However it is selectable<br/>just drag and then you know what I mean :)')
				dist-graph(type=resourceType selectable='true')
				br
				super-table(type='userList' stop-watch-package-name stop-watch-is-init-done)
		div.col-lg-7.col-sm-12
			portlet(simple='ture')
				div.tabbable-line
					ul.nav.nav-tabs
						li.active
							a(href='#tabCallStack' data-toggle='tab') Reverse Stack
								help-badge(msg='Reverse Stack<br/>just after you select every call stack collected by agent on each devices<br/>are shown here')
						if resourceType == 'cpu'
							li
								a(href='#tabCpuOs' data-toggle='tab') OS
									help-badge(msg='Specific usage information<br/>from kernel are shown here')
							li
								a(href='#tabCpuApp' data-toggle='tab') App
									help-badge(msg='Specific usage information<br/>from the exact process executing the application<br/>are shown here')
						if resourceType == 'memory'
							li
								a(href='#tabMemoryUsage' data-toggle='tab') Memory Usage
									help-badge(msg='Specific usage information<br/>from kernel are shown here')
							li
								a(href='#tabVmstat' data-toggle='tab') Vmstat
									help-badge(msg='Specific usage information<br/>from the exact process executing the application<br/>are shown here')
						if resourceType == 'cpu' || resourceType == 'memory'
							li
								a(href='#tabRaw' data-toggle='tab') Raw
					div.tab-content
						div.tab-pane.active#tabCallStack
							if resourceType == 'cpu'
								stack-trace-tree(stop-watch-is-init-done, type='cpu')
							else if resourceType == 'memory'
								stack-trace-tree(stop-watch-is-init-done, type='memory')
							else if resourceType == 'rendering'
								stack-trace-tree(stop-watch-is-init-done, type='ui')
						if resourceType == 'cpu'
							div.tab-pane#tabCpuOs
								help-badge(msg='hi')
								div.row
									div.col-xs-12
											os-detail-dist-graph(type='stat')
							div.tab-pane#tabCpuApp
								div.row
									div.col-xs-12
											os-detail-dist-graph(type='pstat')
						if resourceType == 'memory'
							div.tab-pane#tabMemoryUsage
								div.row
									div.col-xs-12
											os-detail-dist-graph(type='memory')
							div.tab-pane#tabVmstat
								div.row
									div.col-xs-12
											os-detail-dist-graph(type='vmstat')
						if resourceType == 'cpu' || resourceType == 'memory'
							div.tab-pane#tabRaw
								div.row
									div.col-xs-12
										if resourceType == 'cpu'
											super-table(type='detailOs' stop-watch-package-name stop-watch-is-init-done, watch-uuid)
											super-table(type='detailCpuApp' stop-watch-package-name stop-watch-is-init-done, watch-uuid)
										else if resourceType == 'memory'
											super-table(type='detailVmStat' stop-watch-package-name stop-watch-is-init-done, watch-uuid)
											super-table(type='detailMemoryApp' stop-watch-package-name stop-watch-is-init-done, watch-uuid)
		
block style
	style.
		/*.tab-content > .tab-pane {
			display: block;
			position: absolute;
			visibility: hidden;
		}
		.tab-content > .tab-pane.active {
			display: block;
			position: absolute;
			visibility: visible;
		}*/
prepend script
	script.
		