extends layout.pug

block content
	div.row
		div.col-xs-12
			h4.title
				span Activity Detail #{resourceType} of #{packageName}'s #{activityName}
	div.row
		div.col-lg-5.col-sm-12
			portlet(simple='true')
				dist-graph(type=resourceType)
				br
				super-table(type='userList')
		div.col-lg-7.col-sm-12
			portlet(simple='ture')
				div.tabbable-line
					ul.nav.nav-tabs
						li.active
							a(href='#tabCallStack' data-toggle='tab') Call Stack
						li
							a(href='#tabOs' data-toggle='tab') OS
					div.tab-content
						div.tab-pane.active#tabCallStack
							stack-trace-tree
						div.tab-pane#tabOs
							h1.font-white OS
		
block style
		
prepend script
	script.