extends layout-sidebar.pug

block sidebar
	filter-status-bar

block content
	div.row
		div.col-xs-12
			h4.title
				span Activity Summary of #{packageName}'s #{activityName}
	div.row
		div.col-md-6
			portlet(title='One-depth User Flow')
				one-depth-user-flow
		div.col-md-6
			a(href='/activityDetail/' + packageName + '/' + activityName + '/rendering')
				portlet(title='UI Rendering Elapsed Time')
					dist-graph(type='rendering')
	div.row
		div.col-md-6
			a(href='/activityDetail/' + packageName + '/' + activityName + '/cpu')
				portlet(title='CPU Usage')
					dist-graph(type='cpu')
		div.col-md-6
			a(href='/activityDetail/' + packageName + '/' + activityName + '/network')
				portlet(title='Memory Usage')
					dist-graph(type='memory')
	div.row
		div.col-md-6
			portlet(title='Network Outband Call')
				super-table(type='network')
		div.col-md-6
			portlet(title='Crash List')
				super-table(type='crash')
block style
	style.
		body {
			/*background-color: #1b1c2e !important;*/
		}
		
prepend script