extends layout-sidebar.pug

block sidebar
	filter-status-bar

block content
	div.row
		div.col-xs-12
			h4.title
				span Crash Detail 
	div.row
		crash-info.col-xs-12
	div.row
		portlet.col-xs-6.col-sm-3(title='OS Version')
			pie-graph(type='crashVersionOs')
		portlet.col-xs-6.col-sm-3(title='App Veresion')
			pie-graph(type='crashVersionApp')
		portlet.col-xs-6.col-sm-3(title='Device')
			pie-graph(type='crashVersionDevice')
		portlet.col-xs-6.col-sm-3(title='Country')
			pie-graph(type='crashVersionLocation')
	div.row
		portlet.col-xs-12(title='Event Path')
			one-depth-user-flow(crash-event-path)
	//- div.row
	//- 	portlet.col-xs-12(title='Reverse Stack')
	//- 		//- super-table(tpye='crashCallStack')
	//- 		stack-trace-tree(crash-reverse-stack watch-package-name)
	div.row
		div.col-md-6
			a(href='/activityDetail/' + packageName + '/' + crashName + '/cpu')
				portlet(title='CPU Usage')
					dist-graph(type='cpu')
		div.col-md-6
			a(href='/activityDetail/' + packageName + '/' + crashName + '/memory')
				portlet(title='Memory Usage')
					dist-graph(type='memory')
block style
	style.
	
prepend script