extends layout-sidebar.pug

block sidebar
	filter-status-bar

block content
	div.row
		div.col-xs-12
			h4.title
				span Crash Detail
	div.row
		div.col-xs-12.col-sm-7
			area-graph(type='crashUsage')
		div.col-xs-12.col-sm-5
			//- pie-graph(type='crashCount')
	div.row
		div.col-xs-12
			super-table(type='crash')
block style
	style.
	
prepend script