extends layout-sidebar.pug

block sidebar
	filter-status-bar(style='height: 912px;')

block content
	div.row
		div.col-xs-12.col-sm-4
			app-status
			div(style='padding: 5px 0 5px 0;')
			filter-bar(style='height: 818px;')
		div.col-xs-12.col-sm-8
			h4.title
				span.font-white(style='font-weight: 300;') Activity Map
					help-badge(msg='Filtered elements are drawn here with their relations')
			div.row
				div.col-xs-12.col-sm-12
					activity-map(ref='activityMap')
				div.col-xs-12.col-sm-12
					div.m-grid.m-grid-row
						div.m-grid-col.m-grid-col-xs-3.a
							user-connection-graph
						div.m-grid-col.m-grid-col-xs-4.a
							card(title='World Outbound Call' style='height: 385px;')
								help-badge(msg='Worldmap Connections places is also here', slot='title-after', white)
								worldmap-graph
						div.m-grid-col.m-grid-col-xs-5.a
							card(title='Top Error' style='height: 385px;')
								help-badge(msg='Crash list here', slot='title-after', white)
								super-table(type='crash5' light='true' watch-filters)
block style
	style.
		.page-content > div {
			display: inline-block;
			vertical-align: top;
		}
		.a {
			padding: 0 7.5px;
		}
		.a > div {
			margin: 0 !important;
		}
		body {
			background-color: #110f11 !important;
		}
		div.page-content-wrapper {
			background-color: #110f11 !important;
		}
		div.page-content {
			padding: 15px 20px 10px 20px !important;
			background-color: #110f11 !important;
		}
prepend script