extends layout-simple.pug

block content
	div.container
		div.row
			div.col-xs-12
				h4.title Get Started
		div.row
			portlet(simple='true')
				div.markdown.markdown-body
block style
	link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/solarized-light.min.css')
	style.
		pre {
			padding: 0px;
			margin: 0 0 10px 0;
			border: none;
		}
	
block script
	script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js')
	script.
		$(document).on('ready', function() {
			$.get('https://raw.githubusercontent.com/TeamThresh/Lantern-sdk/master/README.md').then(res => {
				var text = new window.showdown.Converter().makeHtml(res);
				$('div.markdown').html(text);
				$('pre code').each(function(i, block) {
					hljs.highlightBlock(block);
				});
			})
		});