extends layout-simple.pug

block content
	div.container
		div.row
			div.col-xs-12
				h4.title Get Started
		div.row
			portlet(simple='true')
				get-started
				//- div.markdown.markdown-body
block style
	link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/solarized-light.min.css')
	style.
		pre {
			padding: 0px;
			margin: 0 0 10px 0;
			border: none;
		}
	
block pre-script
	script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js')