extends layout-sidebar.pug

block sidebar
	filter-status-bar

block content
	div.row
		div.col-xs-12
			h4.title
				span Insight
					span.badge.badge-danger NEW
	div.row
		div.col-lg-5.col-sm-12
			histogram(selectable)
			insight-status
				
		div.col-lg-7.col-sm-12
			portlet(title='Reverse Stack')
				stack-trace-tree(stop-watch-is-init-done, insight)
		
block style
	style.
		/*.tab-content > .tab-pane {
			display: block;
			position: absolute;
			visibility: hidden;
		}
		.tab-content > .tab-pane.active {
			display: block;
			position: absolute;
			visibility: visible;
		}*/
prepend script
	script.
		