doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Lantern - The Smartest Mobile APM ever!
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(content='width=device-width, initial-scale=1' name='viewport')
		meta(content='The smartest Mobile APM ever' name='description')
		meta(content='TeamThresh' name='author')
		//-- global mandatory styles
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
		//- link(href='/assets/theme2/global/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='/assets/theme2/global/plugins/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
		link(href='/assets/theme2/global/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/assets/theme2/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')
		//- END GLOBAL MANDATORY STYLES
		//- BEGIN THEME GLOBAL STYLES
		link#style_components(href='/assets/theme2/global/css/components.min.css', rel='stylesheet', type='text/css')
		link(href='/assets/theme2/global/css/plugins.min.css', rel='stylesheet', type='text/css')
		//- END THEME GLOBAL STYLES
		//- BEGIN THEME LAYOUT STYLES
		link(href='/assets/theme2/layouts/layout/css/layout.min.css', rel='stylesheet', type='text/css')
		//- link#style_color(href='/assets/theme2/layouts/layout/css/themes/default.min.css', rel='stylesheet', type='text/css')
		link#style_color(href='/assets/theme2/layouts/layout/css/themes/darkblue.min.css', rel='stylesheet', type='text/css')
		link(href='/assets/theme2/layouts/layout/css/custom.min.css', rel='stylesheet', type='text/css')
		//- END THEME LAYOUT STYLES
		//- BEGIN CUSTOM STYLES
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' type='text/css')
		//- END CUSTOM STYLES
		//- jqvmap
		link(href='/assets/theme2/global/plugins/jqvmap/jqvmap/jqvmap.css' rel='stylesheet' type='text/css')
		//- jstree
		link(href='/assets/theme2/global/plugins/jstree/dist/themes/default/style.min.css' rel='stylesheet' type='text/css')
		//- bootstrap-select
		link(href='/assets/theme2/global/plugins/bootstrap-select/css/bootstrap-select.min.css' rel='stylesheet' type='text/css')
		//- hover.css
		link(href='https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css' rel='stylesheet' type='text/css')
		//- animate.css
		link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css' rel='stylesheet' type='text/css')
		//- pace.js
		link(href='/assets/pace/pace2.css' rel='stylesheet' type='text/css')
		link(rel='shortcut icon', href='favicon.ico')
		style.
			.page-header.navbar {
				/*border-bottom: none;*/
			}
			/*left header side bar 길게 */
			html, body, div#app, div.page-container {
				/*height: 100% !important;*/
			}
			body {
				background-color: #f1f3f5 !important;
			}
			div.page-content-wrapper {
				background-color: #f1f3f5 !important;
			}
			div.page-content {
				padding: 15px 20px 10px 20px !important;
				background-color: #f1f3f5 !important;
			}
			.page-header.navbar {
				background-color: #2e3139 !important;
			}
			div.page-title {
				margin: 0px 0px 20px 0px !important;
			}
			div.page-title h1 {
				margin: 0px 0px 10px 0px !important;
			}
		block style
	body.page-container-bg-solid.page-header-fixed.page-sidebar-closed-hide-logo
		div#app
			top-header
			div.clearfix
			div.page-container
				div.container-fluid
					br
					block content
			right-header
			bottom-header
		//- BEGIN CORE PLUGINS
		script(src='/assets/theme2/global/plugins/jquery.min.js', type='text/javascript')
		script(src='/assets/theme2/global/plugins/bootstrap/js/bootstrap.min.js', type='text/javascript')
		script(src='/assets/theme2/global/plugins/js.cookie.min.js', type='text/javascript')
		script(src='/assets/theme2/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js', type='text/javascript')
		script(src='/assets/theme2/global/plugins/jquery.blockui.min.js', type='text/javascript')
		script(src='/assets/theme2/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js', type='text/javascript')
		//- END CORE PLUGINS
		//- BEGIN THEME GLOBAL SCRIPTS
		script(src='/assets/theme2/global/scripts/app.js', type='text/javascript')
		//- END THEME GLOBAL SCRIPTS
		//- BEGIN THEME LAYOUT SCRIPTS
		script(src='/assets/theme2/layouts/layout/scripts/layout.min.js', type='text/javascript')
		script(src='/assets/theme2/layouts/layout/scripts/demo.min.js', type='text/javascript')
		script(src='/assets/theme2/layouts/global/scripts/quick-sidebar.min.js', type='text/javascript')
		script(src='/assets/theme2/layouts/global/scripts/quick-nav.min.js', type='text/javascript')
		//- END THEME LAYOUT SCRIPTS
		//- BEGIN CUSTOM SCRIPTS
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.4/d3.min.js')
		//- d3 sankey library for d3.v4
		script(src='/assets/d3/sankey.js')
		//- momentjs
		script(src='/assets/theme2/global/plugins/moment.min.js')
		//- morris
		script(src='/assets/theme2/global/plugins/morris/raphael-min.js')
		script(src='/assets/theme2/global/plugins/morris/morris.min.js')
		//- jqvmap
		script(src='/assets/theme2/global/plugins/jqvmap/jqvmap/jquery.vmap.min.js')
		script(src='/assets/theme2/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js')
		//- jstree
		script(src='/assets/theme2/global/plugins/jstree/dist/jstree.min.js')
		//- bootstrap select
		script(src='/assets/theme2/global/plugins/bootstrap-select/js/bootstrap-select.min.js')
		//- pace.js
		script(src='/assets/theme2/global/plugins/pace/pace.min.js')
		//- bundle
		script(src='/assets/bundles/layout.js')
		block script
		//- END CUSTOM SCRIPTS