extends base.pug

block body
	div#app
		top-header
		div.clearfix
		div.page-container
			div.container-fluid
				br
				block content
		//- right-header
		bottom-header

block script
	block script
			
block style
	block style